<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zambelislights.com.cameraapp">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SplashActivity -->
        <activity
            android:name="mobapptut.com.zambelislightscamapp.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->

        <activity android:name="mobapptut.com.zambelislightscamapp.zambelislightscamapp" android:screenOrientation="landscape">
            <intent-filter>
                <!--<data  android:scheme="allplayer" />-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="mobapptut.com.zambelislightscamapp.choosePlatform"  android:exported="true">
            <intent-filter>
                <!--<data  android:scheme="allplayer" android:host="testhost" />-->
                <data
                    android:host="www.zambelislights.co.uk"
                    android:scheme="http"
                    android:pathPrefix="/productImages/"/>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data  android:scheme="zambelislightsapp" android:host="www.zambelislights.gr" android:pathPrefix="/wp/" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="mobapptut.com.zambelislightscamapp.bellowLollipop" android:screenOrientation="landscape" >
        <intent-filter>
            <!--<data  android:scheme="allplayer" />-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity android:name="mobapptut.com.zambelislightscamapp.noImageFound" >
            <intent-filter>
                <!--<data  android:scheme="allplayer" />-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="mobapptut.com.zambelislightscamapp.ProductsMain" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="mobapptut.com.zambelislightscamapp.CategoryActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
